<gh6-header></gh6-header>

<div class="mainContainer">
    <img id="mainSplashImage" src="../../../assets/images/gateway_arch_bridge.jpeg"/>

    <div class="darkMask" ng-style="{'height': main.getMagicHeight()}">
        <br/>
        <h1>Welcome</h1>
        <p>Do you need help with:</p>
        <div class="navigationButtons">
            <button type="button" class="btn btn-primary" ng-click="main.mainCategoryLink(1)">
                <i class="fa fa-key" aria-hidden="true"></i>
                 Prevention
                <h5>Learn valuable financial and education information</h5>
            </button>

            <button type="button" class="btn btn-primary" ng-click="main.mainCategoryLink(2)">
                <i class="fa fa-life-ring" aria-hidden="true"></i>
                Emergency
                <h5>Find immediate shelter, food and medical services</h5>
            </button>

            <button type="button" class="btn btn-primary" ng-click="main.mainCategoryLink(3)">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                Continuous
                <h5>Obtain recurring help through several services</h5>
            </button>
        </div>
    </div>
</div>

<gh6-footer></gh6-footer>