<div class="header shade">
    <div class="headerContainer">
        <div class="logo"><img src="../../../assets/images/alicorn_logo.png"/></div>
        <div class="logoText" ng-click="ctrl.logoClick()"> Project Narwhal</div>
    </div>

    <span class="header-auth">
        <button type="button" ng-if="ctrl.user.token" ng-click="ctrl.user.token = undefined; ctrl.user.type = undefined" ui-sref="agent">Logout</button>

        <span ng-if="!ctrl.user.token">
            <button type="button" ui-sref="client">Client Login</button>
            <button type="button" ui-sref="agent">Agent Login</button>
        </span>
    </span>

</div>