
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


html { height: 100%; }
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

.gh6-form {
  label {
    width: 400px;
  }
}

.shade {
  box-shadow: 0 2px 20px rgba(0,0,0,0.12);
}

.backlight {
  background: rgba(230,230,230,0.6);
}

.light-text {
  color: rgb(140,140,140);
}

ul {
  list-style: none;
  li {
    margin-left: none;
  }
}

.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }
.buffer { margin:20px; }

.outline {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.header-title {
  cursor: pointer;
}

.header-auth {
    position: absolute;
    right: 1em;
    top: 1em;
    button {
      background-color: rgb(240, 240, 240);

      border: 0;
      font-size: 1.2em;
      font-weight: 100;
      padding: 0.5em;
    }
  }