<div class="footerContainer">
  <div class="leftColumn">
    <div class="default">Contact Us</div>
    <div class="default">Terms of Service</div>
    <div class="copyRight">Copyright 2016 <span>Alicorn Systems</span></div>
  </div>

  <div class="rightColumn">
    <div class="socialMedia">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-youtube" aria-hidden="true"></i>

      <img src="../../../assets/images/alicorn_logo_wide.png"/>
    </div>
    <div class="socialMediaMessage">Connect with us </div>
  </div>
</div>