.footerContainer {
    z-index: 120;
    display: inline-block;
    width: 100%;
    height: 150px;
    background-color: #1e2629;

  .leftColumn {
    width: 50%;
    float: left;
    padding-left: 20px;

    .default {
      padding-top: 15px;
      font-weight: 500;
      font-size: 20px;
      font-family: 'Open Sans', Arial, sans-serif;
      color: #00b3ee;
    }

    .copyRight {
      padding-top: 15px;
      font-weight: 500;
      font-size: 15px;
      font-family: 'Open Sans', Arial, sans-serif;
      color: gray;
    }

  }

  .rightColumn {
    width: 50%;
    float: right;

    .socialMedia {
      width: 100%;
      padding-top: 20px;
      display: inline-block;

      i {
        cursor: pointer;
        padding-right: 15px;
        color: #00b3ee;
        font-size: 25pt;
      }
    }

    .socialMediaMessage {
      font-size: 15px;
      font-family: 'Open Sans', Arial, sans-serif;
      color: gray;
    }

    img {
      position: relative;
      //top: 20px;
      margin-left: 50px;
      padding-left: 25px;
      height: 100px;
      width: 450px;
    }

  }

}